<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(17, 46, 211)">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
       <h3 class="text-white ms-4" style="font-family: 'Festive', cursive;font-family: 'Uchen', serif;">
        <i class="fab fa-atlassian fa-lg"></i> Easy Buy</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">
          <!-- home -->
          <li class="nav-item">
            <a class="nav-link active text-white" routerLinkActive="active" routerLink='home'>Home</a>
          </li>
          <!-- register -->
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" routerLink='signup'>Sign up</a>
          </li>
          <!-- login -->
          <!-- <li class="nav-item" *ngIf="!us.userloginstatus"> -->

            <li class="nav-item"> 
            <a class="nav-link text-white" routerLinkActive="active" routerLink='signin'>Sign in</a>
          </li>
          <!-- logout -->
          <!-- <li class="nav-item" *ngIf="us.userloginstatus">
            <a class="nav-link text-white" style="font-size:larger;font-weight:bolder;"
             routerLinkActive="active" routerLink='login' (click)="onlogout()">Logout</a>
          </li> -->
          <!-- Contact Us -->
          <li class="nav-item">
            <a class="nav-link text-white" routerLinkActive="active" routerLink='contactus'>Contact Us</a>
          </li>
          
        </ul>  
      </div>
    </div>
  </nav>
  