<!-- om namah shivaya -->
<div class="main">
  <div class="container pt-4 position-relative">
    <h1 class="text-center" style="font-size: 60px;"><i class="fab fa-accusoft"></i> Patient Details</h1>
    <div class="row">
      <!-- first col --->
      <div class="image col col-sm-6">
         <img src="https://illustratious.s3.amazonaws.com/screenshots/t4dyka-creating-webp.webp"  class="w-100 h-100" alt="">
      </div>

      <!-- second col -->
      <div class="details col col-sm-6 text-center p-5 position-relative">
        <img src="https://cdn.pixabay.com/photo/2017/12/17/10/31/nutcracker-3023998_960_720.jpg" height="200px" width=200pxs alt="">
        
        <ul class="mt-4">
          <li> <span> Name         : </span>  UmaMaheshwar</li>
          <li><span> Age           :</span>   19</li>
          <li><span> profession     :</span>   God</li>
          <li><span> EmailID        :</span>   om namah shivaya</li>
          <li><span> Mobile Number  :</span>   123456789</li>
        </ul>

        <h5>Timings</h5>

        <button class="btn"> Start Session </button>
      </div>
    </div>
  </div>
</div>
