<!-- om namah shivaya -->
<button class="btn btn-primary" (click)="trans()" >click</button>
<div class="main">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <!-- col start -->
      <div class="col" *ngFor="let x of a">
        <div class="card">
            <img src="https://www.thoughtco.com/thmb/mik7Z00SAYN786BQbieXWOzZmc8=/2121x1414/filters:fill(auto,1)/lotus-flower-828457262-5c6334b646e0fb0001dcd75a.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Uma maheshwar</h5>
              <p>Timings</p>
              <button class="btn" (click)="patientDetails()">View Details</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>