<div class="main">
<div class="container pt-5 p-5 position-relative">
  <div class="row">
    <div class="col-12 col-sm-3 col-md-3 ">
      <img
        src="https://i.pinimg.com/originals/cf/4e/c0/cf4ec0f1cd566491fe962ed9d2f68d67.jpg"
        alt=""
      />

      <button class="btn text-white mt-3 ms-5" (click)="appointment()">Make Appointment</button>
    </div>
    <div class="col-12 col-sm-9 col-md-9 mt-5">
      <h2>Dr.Umamaheshwar</h2>
      <hr />
      <p>GENERAL PHYSICIAN/ INTERNAL MEDICINE | 23 YRS</p>
      <h6><i class="fas fa-wallet"></i>  FEES || <span style="font-weight: bolder;">$500</span> </h6>
      <div class="details row">
        <div class="col-12 col-sm-6">
          <p><i class="fas fa-user-graduate"></i> Education || MBBS, DVD, MD</p>
          <p>
            <i class="fas fa-cash-register"></i> Registration Number || KMC
            20763
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <p>
            <i class="fas fa-map-marker-alt"></i> Location || Apollo Hospitals
            Bannerghatta Road,Bangalore
          </p>
          <p>
            <i class="fas fa-globe"></i> Languages || English, Hindi, Telugu,
            Tamil, Urdu, Kannad
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!---------------------------About------------------------>
  <div class="about mt-5">
    <h3>About Dr.UmaMaheshwar</h3>
    <hr />
    <p>
      Dr. Surendra V H H is one of the best dermatologists in Bangalore,
      currently associated with Apollo Hospitals. He has a keen interest in
      clinical and surgical dermatology. This includes services such as Skin
      Boosters and Fillers, Dark Circles, Laser therapy, Laser Treatment, PRP
      Hair Transplantation, Derma Roller For Acne Scars/Stretch Marks, Necklift,
      Permanent Acne Solutions, Medical Peels, Beauty Enhancement, Skin Tag
      Treatment, Pigmentation Treatment, Botox injections. He also obtained his
      masters from the USA.
    </p>
  </div>

  <!-- profesional -->
  <h5>Professional Memberships</h5>
  <ul>
    <li>Indian Medical Association</li>
    <li>Indian Association of Dermatology, Venereology and Leprologist</li>
    <li>International Union against Sexually Transmitted Infections</li>
    <li>All India Occupational Health</li>
  </ul>

  <!-- Timings -->
  <h5>Timings</h5>
  <dl>
    <dt>Monday</dt>
    <dd>08:00 AM - 01:00 PM || 03:00 PM - 07:00 PM</dd>

    <dt>Tuesday</dt>
    <dd>08:00 AM - 01:00 PM || 03:00 PM - 07:00 PM</dd>

    <dt>Wednesday</dt>
    <dd>08:00 AM - 01:00 PM || 03:00 PM - 07:00 PM</dd>

    <dt>Thursday</dt>
    <dd>08:00 AM - 01:00 PM 03:00 PM - 07:00 PM</dd>

    <dt>Friday</dt>
    <dd>08:00 AM - 01:00 PM 03:00 PM - 07:00 PM</dd>

    <dt>Saturday</dt>
    <dd>08:00 AM - 01:00 PM 03:00 PM - 07:00 PM</dd>

    <dt>Sunday</dt>
    <dd>08:00 AM - 01:00 PM 03:00 PM - 07:00 PM</dd>
  </dl>
</div>
</div>