.main
{
  position: relative;
  height: 100vh;
  width: 100vw;
  background: url('https://cdn.pixabay.com/index/2022/05/16/11-54-06-51_1440x550.jpg') center center;
  background-size: cover;
}
.main::before
{
  content: "";
  position: absolute;
  background:rgba(0,0,0,0.5) ;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.img_div img
{
  height: 50%;
  border-radius: 50%;
  border-bottom-left-radius: 50%!important;
  border-top-left-radius: 50%!important;
  margin-top: 10px;
}

.icons
{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-direction: column;
}
.card
{
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
  background:rgba(247, 212, 212, 0.6) ;
  color: white;
}

button
{
  background: rgba(255, 71, 126,0.5);
  border:pink
}
button:hover
{
  background: hotpink;
}
.card:hover{
  background:rgba(247, 212, 212, 0.9) ;
}