<div class="main">
<div class="container position-relative"> 
  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-4">
      <!-- cards -->
       <div class="col" *ngFor="let i of doctors">
        <div class="card mb-3 mt-5" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-3 img_div ps-3">
              <img src="https://media.istockphoto.com/vectors/doctor-with-stethoscope-and-medical-test-medic-icon-in-flat-style-vector-id1129223269?k=20&m=1129223269&s=612x612&w=0&h=rfQO9jF2s8OZCtxV4CcRhF4hMPxg6_h2Au7D7bcBTwk=" class="img-fluid rounded-start" alt="...">
              <div class="icons">
                <i class="fas fa-video ps-1"> online</i>
                <br>
                <i class="fas fa-user-md ps-1"> Inperson</i>
              </div>
            
            </div>
            <div class="col-md-8 content">
              <div class="card-body">
                <h5 class="card-title">Dr.{{i['firstname']}} {{i['lastnamee']}} </h5>
                <p class="card-text">GENERAL PHYSICIAN/ INTERNAL MEDICINE | 23 YRS</p>
                <p>FEES || 
                <span style="font-weight: bolder;">$1000</span> </p>
                <p class="card-text"><small class=""><i class="fas fa-map-marker-alt"></i> Apollo Hospitals, Jubilee Hills, Hyderabad</small></p>
              </div>
            </div>
          </div>
          <button class="btn text-white" (click)="appointment(i['email'])">Make Appointment</button>
        </div>
        
       </div>
    </div>
  </div>
</div>
</div>